extends layout
block content

  .jumbotron
    .container
      h1 How My I Help You?
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      a.btn.btn-primary.btn-lg(href='#') Learn more &raquo

  .container
    .row
      .col-md-4
        h2 About Us
        p Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Services
        p Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Get in Touch
        p Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        a.btn.btn-default(href='#') View Details