doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title #{title} | Express

    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    // Custom styles for this template
    link(href='stylesheets/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')  Haris Saif
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li(class=(title === 'Home' ? 'active' : ''))
              a(href='/') Home
            li(class=(title === 'About' ? 'active' : ''))
              a(href='/about') About
            li(class=(title === 'Contact' ? 'active' : ''))
              a(href='/contact') Contact
        // /.nav-collapse
  //.container
  block content
  footer
    p &copy; 2017, All rights reserved.
    // /.container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script.
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
    script(src='javascripts/bootstrap.js')
